<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--IDALnamespace-->
    <add key="IDALClassPath" value="LibraryManagerMent.DAL" />
    <!--IDALAssembly-->
    <add key="IDALAssemblyPath" value="LibraryManagerMent.DAL" />
    <!--IBLLnamespace-->
    <add key="IBLLClassPath" value="LibraryManagerMent.BLL" />
    <!--IBLLAssembly-->
    <add key="IBLLAssemblyPath" value="LibraryManagerMent.BLL" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="connStr" connectionString="Server=.;Database=TeamWorkBase;uid=ourTeam;pwd=123" />
  </connectionStrings>
  
</configuration>